__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
tests/

.dockerignore
docker-compose.yml
Dockerfile

.gitignore
.pyrightconfig.json
architecture.svg
README.md
REPORT.md
ruff.toml

*.db
*.egg-info
*.py[oc]
